#game-table {
  display: none;
  width: 450px;
  margin: auto;
}

td {
  border: 4px solid black;
}

td div {
  width: 150px;
  height: 150px;
}

.X {
  margin: auto 40px;
  font-size:8em;
  text-align: center;
  vertical-align: middle;
  color:blue;
}

.O {
  margin: auto 30px;
  vertical-align: middle;
  font-size: 8em;
  text-align: center;
  color: red

}

#message-box {
  border: 4px solid black;
  display: none;
}
